<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div id="app" class="container mt-5">

        <!--DEVUELVE TEXTO ALREVES-->

        <h3>{{mensaje}}</h3>
        <h3>invertido : {{invertido}}</h3>

        <input type="text" class="form-control mt-2" v-model="mensaje">
        <hr>

        <!--CONTADOR CON DIAGRAMA (BARRA PROGRESIVA , BOOSTRAP)-->

        <button class="btn btn-primary" @click="(contador != 100 ? contador++ : contador == 100)">+</button>
        <button class="btn btn-danger" @click="(contador != 0 ? contador-- : contador == 0)">-</button>

        <input class="form-control-sm ml-2" v-model="contador">   

        <div class="progress mt-2">
            <div class="progress-bar" role="progressbar" :style="{'width': contador+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" :class="color">
                {{contador}}%
            </div>
        </div>
    </div>

    
    <!--implementacion vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="script.js"> </script>
</body>

</html>